/** Variable Imports **/
@import './variables.css';

/**
  CSS Reset
  Source: https://www.joshwcomeau.com/css/custom-css-reset/
**/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/** Your CSS Below **/

.container{
  background-color: var( --clr-paleBlue);
  font-family: var(--fs-base);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.component_wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  background-color: white;
  max-width: var(--width-desktop);
  border-radius: var(--brd-main);
  width: 640px;
}

@media (max-width: 460px) {
  .component_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .container{
    min-height: 100%;
  }

  .component_result{
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }
}

.component_result{
  background: linear-gradient(180deg, var(--gra-lightSlateBlue), var(--gra-lightRoyalBlue));
  border-radius: var(--brd-main);
  color: white;
  padding: 35px 50px;
  text-align: center;
}

.component_result__header{
  font-size: 20px;
  font-weight: bold;
  opacity: 0.7;
}

.component_result_score{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.component_result_score__wrapper{
  width: 175px;
  height: 175px;
  background: linear-gradient(180deg, var(--gra-violetBlue), var(--gra-persianBlue));
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.component_result_score__main{
  font-size: 60px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
}

.component_result_score__sub{
  font-weight: bold;
  opacity: 0.5;
}

.component_result__conc{
  font-weight: bold;
  font-size: 28px;
}

.component_result_description{
  opacity: 0.7;
  margin-top: 10px;
}

.component_summary{
  padding: 35px;
  color: var(--clr-darkGrayBlue);
  display: flex;
  flex-direction: column;
}

.component_summary__header{
  font-size: 20px;
  font-weight: bold;
}

.component_summary__wrapper{
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
  flex-grow: 1;
}

.component_summary_item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: var(--brd-second);
}

.component_summary_item__icon{
  margin-right: 10px;
}

.reaction{
  background: hsla(0, 100%, 67%, 0.05);
}

.memory{
  background: hsla(39, 100%, 56%, 0.05);
}

.verbal{
  background: hsla(164, 64%, 45%, 0.05);
}

.visual{
  background: hsla(234, 85%, 45%, 0.05);
}


.component_summary_item__name,
.component_summary_item__score{
  font-weight: bold;
}

.name_reaction{
  color: var(--clr-lightRed);
  flex: 1;
}

.name_memory{
  color: var(--clr-orangeYellow);
  flex: 1;
}

.name_verbal{
  color: hsl(164, 64%, 45%);
  flex: 1;
}

.name_visual{
  color: var(--clr-cobaltBlue);
  flex: 1;
}

.score_sub {
  opacity: 0.3;
}

.component_summary_button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.component_summary_button button{
  background-color: var(--clr-darkGrayBlue);
  color: white;
  border-radius: var(--brd-main);
  padding: 10px 15px;
  flex: 1;
  border: none;
}

  /** Attribution CSS **/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }